$style_border_radius: 5px;

$screen_size_large: 1199px;
$screen_size_desktop: 991px;
$screen_size_tablet: 767px;
$screen_size_phone: 575px;

// General
html {
    scroll-behavior: smooth;
    margin: 0;
    padding: 0;
}

body {
    padding: 0;
}

// Imports
@import '_colors';
@import '_content';
