extends layout

block content
	h1 #{title}
	p Oogkleuren van iedereen in de klas
	div(class='block-container')
		each key, value in hexColors
			div(class='eyeball-container')
				li(class='eyeball')
					div(style=`background-color: ${key}` class='color-block')
						div(class='pupil')
				li(class='eyeball')
					div(style=`background-color: ${key}` class='color-block')
						div(class='pupil')